<html>
    <head>
        <title>Zac Hanson's Blog Site</title>
        <link rel= "stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
        <link rel= "stylesheet" type="text/css" href="/views/blg.css">
        
        <style text="type/css">
               i.icon {
            font-size: 2em;
          }
             .main.container {
            margin-top: 7em;
          }
            
        </style>
        
    </head>
    <body>
        
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class= "header item"><i class="motorcycle icon"></i>  Zac Hanson</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
            
        </div>
        <p>The header file made it in!!!!</p>
        
        
        
        
        
        
